/* src/components/ProductList.css */

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Product list styles */
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Form styles */
  form {
    max-width: 400px;
    margin: 20px auto;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .editbutton{
    align-items: end;
    margin-right: 10px;
  }

  /* ProductList.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editbutton,
button {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}

.editbutton:hover,
button:hover {
  background-color: #45a049;
}


/* ProductList.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pname {
  width: 20%; 
}

.pprice {
  width: 15%; 
}

.descrip {
  width: 40%; 
}

.editbutton {
  background-color: #00d52e;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}

.deletebutton {
  background-color: #da4403;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}
.editbutton:hover,
.deletebutton:hover {
  background-color: #b6b44c;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 1.5rem;
  margin: 0;
}

.createbutton {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}

.createbutton:hover {
  background-color: #45a049;
}


nav {
  background-color: #333;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

nav a:hover {
  color: #45a049;
}
